html,
body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  word-break: break-word;
  /* font-weight: 300; */
}

body {
  background-color: #E5DFF4;
}

body {
  font-size: 1.3rem;
  line-height: 1.4;
  /* letter-spacing: 0.01rem; */
}

p {
  margin: 0;
}

.purple {
  color: #5e00b5;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.page-container {
  min-height: 100vh;
  position: relative;
}

.content-wrap {
  min-height: 100vh;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.headshot {
  width: 100%;
  margin-top: 4vh;
  margin-top: 2vh;
}

.school-shot {
  object-fit: contain;
  width: 100%;
  margin-top: 2vw;
}

.content-image {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 4vh;
  background-color: white;
  margin: 3vh;
  box-shadow: 1px 1px 8px 4px #cec5db;
}

.small-card {
  padding: 3vh;
  background-color: white;
  margin: 3vh;
}

.full-card {
  display: flex;
  flex-direction: column;
  padding: 4vh;
  background-color: white;
  box-shadow: 1px 1px 8px 4px #cec5db;
}

.card-title {
  /* margin-bottom: 2vh; */
  font-size: 2.1rem;
  /* font-weight: bold; */
  text-decoration: none;
  color: black;
  padding-bottom: 4px;
  line-height: 1.3;
  font-weight: normal;
}

.card-blurb {
  font-size: large;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 1.2vh;
}

.card-meta {
  margin-top: 2.1vh;
  display: flex;
  flex-wrap: wrap;
  font-size: large;
}

.card-author {
  color: #7402d8;
  font-weight: bold;
  /* margin-top: 4vh; */
}

.title {
  font-size: 1.5em;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  margin-left: 2vw;
}

.list-style {
  list-style: none;
  padding: 3px;
}

.subtitle {
  font-size: x-large;
  color: white;
  display: none;
  max-width: 50%;
  text-align: right;
  margin: 0;
  margin-right: 2vw;
}

.times {
  font-family: 'Playfair Display', serif;
}

/* .navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
} */

.navbar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  background-color: #5e00b5;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-bottom {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.mobile-menu {
  position: absolute;
  left: 5%;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

.active {
  color: goldenrod;
  font-weight: bold;
}

.active::before {
  content: "|\00a0";
  color: goldenrod;
  font-weight: bold;
}

.active::after {
  content: "\00a0|";
  color: goldenrod;
  font-weight: bold;
}

.topic-list {
  display:flex; 
  font-size: large;
  flex-direction: column;
  align-items: center;
  padding: 0.3vh;
}

.footer {
  background-color: #484848;
  position: absolute;
  width: 100%;
}

.footer-list {
  list-style: none;
  width: fit-content;
  padding-left: 0px !important;
}

.footer-list li {
  padding: 2vh;
  width: fit-content;
  padding-left: 5vw;
  padding-right: 5vw;
}

.footer-list a {
  text-decoration: none;
  font-size: large;
  color: white;
}

.page {
  max-width: 800px;
  margin: 5vh;
  background-color: white;
  margin: 0 auto;
  
  padding-top: 4vh;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-bottom: 4vh;
}

.page-blurbs {
  max-width: 1000px;
  margin: 5vh;
  background-color: white;
  margin: 0 auto;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: #5e00b5;
}

ul {
  padding-left: 4vw;
}

.size-1of2 {
  /* width: 45%;
  float: left; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 45vw;
  align-content: flex-start;
}

@media only screen and (min-width: 1000px) {
  /* Render items as columns */
  .col[data-columns]::before {
    content: '2 .column.size-1of2';
  }

  .col {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }

  .articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .school-shot {
    width: 50%;
    margin-top: 4vh;
    padding-left: 4vw;
  }

  .page {
    padding: 16vh;
    padding-bottom: 12vh;
    padding-top: 9vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .title {
    font-size: 2.2em;
  }

  .subtitle {
    display: block;
  }
  .navbar-top {
    justify-content: space-between;
    position: static;
  }
  .mobile-menu {
    display: none;
  }
  .navbar-bottom {
    display: block;
    position: sticky;
    top: 0px;
  }
  .topic-list {
    justify-content: space-around;
    align-items: unset;
    flex-direction: row;
  }
  .card {
    display: inline-block;
    flex-direction: column;
    width: 45vw;
    justify-content: space-between;
    overflow: hidden;
    height: fit-content;
    margin-right: 0;
    margin-left: 0;
  }
  .small-card {
    display: flex;
    height: 30vh;
    justify-content: space-between;
    overflow: hidden;
  }
  .full-card {
    display: flex;
    flex-direction: row;
    /* width: 40vw; */
    justify-content: space-between;
    overflow: hidden;
  }
  .card-info {
    display: flex;
    flex-direction: column;
  }
  .card-img {
    width: 50%;
  }
  .content-image {
    max-height: 90vh;
    object-fit: contain;
    margin-top: 2vh;
  }

  .footer-list li {
    display: inline-block;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }

  .footer-list {
    margin: 0 auto;
  }
}
