---
layout: base.njk
permalink: /about/
eleventyExcludeFromCollections: true
---

<div class="articles">
  <div class="full-card" style="width: 100% !important;">
    <div class="left">
      <h1>About Knightwatch</h1>
      <div class="blurb">Knightwatch is Nepean High School’s online newspaper, written by students, for students. Anyone at our school is welcome to share with us their creations, which we publish in our monthly issues. We accept articles, poetry, short stories, reviews, photography, artwork, music, and anything else really. Our goal is to provide NHS students with a platform to show off their creativity and be inspired by the projects of their peers.</div>
      <a class="purple" href="https://forms.gle/QN5razRkG1Nj19ft8">Use this link to send us your creations!</a>
      <br>
      <a class="pruple" href="/section/prompts/">Check out our monthly prompts for inspiration!</a>
    </div>
    <img class="school-shot" src="/assets/school.jpeg" />
  </div>  

  <div class="col">
    <div class="card" data-aos="fade-up">
      <div class="card-info">
        <a class="card-title times">Hugh</a>
        <p class="card-blurb">Sup nerds. My name is Hugh, and I am one of this year’s co editors for Knightwatch. I enjoy math, drama, board games, volleyball, and of course ultimate frisbee. I am currently in grade 12, and I hope to study computer science after high school.</p>
      </div>
      <img class="headshot" src="/assets/hugh.jpg">
    </div>
    <div class="card" data-aos="fade-up">
      <div class="card-info">
        <a class="card-title times">Nick</a>
        <p class="card-blurb">Hi! I'm Nick. I lead the production of this website. I'm a passionate young developer with a love for tech! I've been programming since the second grade, building everything from small operating systems to 3D web experiences. You can read more about my experiences at https://nicholasficara.dev</p>
      </div>
      <img class="headshot" src="/assets/nick.jpg">
    </div>
    <div class="card" data-aos="fade-up">
      <div class="card-info">
        <a class="card-title times">Khalid</a>
        <p class="card-blurb">Hey, my name’s Khalid and I’m one of the web developers for Knightwatch. I enjoy math, programming, and physics, and video games(among us and genshin impact are my favourite!) Currently in grade 12, and I hope to study computer science and physics after high school.</p>
      </div>
      <img class="headshot" src="/assets/khalid.jpg">
    </div>
    <div class="card" data-aos="fade-up">
      <div class="card-info">
        <a class="card-title times">Nina</a>
        <p class="card-blurb">Hey y’all! My name is Nina and I'm one of Knightwatch’s junior editors. I love reading, writing, theatre, social justice and music. I’m in grade 11 and am planning on studying sociology and anthropology in uni.</p>
      </div>
      <img class="headshot" src="/assets/nina.jpg">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up">
      <div class="card-info">
        <a class="card-title times">Olivia</a>
        <p class="card-blurb">Hello :) I’m Olivia and I’m the other co editor this year for Knightwatch! I’ve always loved writing and reading and I’m interested in the social sciences or legal field for post secondary education. I have a lot of hobbies like cooking, knitting, biking, canoeing, and ultimate.</p>
      </div>
      <img class="headshot" src="/assets/olivia.jpg">
    </div>
    <div class="card" data-aos="fade-up">
      <div class="card-info">
        <a class="card-title times">Alex</a>
        <p class="card-blurb">Hey everybody! My name is Alex(ander) and I’m working on the social media aspects of Knightwatch this year :) I’m a grade 12 student who’s looking to get into a good science program, and hopefully med school after I leave Nepean. I’m currently aspiring to be an anesthesiologist. Apart from that, I enjoy writing, as well as playing the piano and the violin.</p>
      </div>
      <img class="headshot" src="/assets/alex.jpg">
    </div>
    <div class="card" data-aos="fade-up">
      <div class="card-info">
        <a class="card-title times">Gaby</a>
        <p class="card-blurb">Hi! I'm Gaby and I'm a grade ten student here at Nepean. I love music, art, books and spending time with my friends. I also play rugby and ringette. I'm super excited to work on Knightwatch as a shadow editor this year!</p>
      </div>
    </div>
    <div class="card" data-aos="fade-up">
      <div class="card-info">
        <a class="card-title times">Serena</a>
        <p class="card-blurb">My name is Serena, and I am one of this year's junior editors for Knightwatch. My favourite subjects are English, Drama and History. I'm currently in grade 11, and I would love to continue as a filmmaker after high school.</p>
      </div>
      <img class="headshot" src="/assets/serena.jpg">
    </div>
  </div>
</div>
