---
layout: home.njk
eleventyExcludeFromCollections: true
---

<div class="full-card">
    <div class="left">
        <h1 class="times">Welcome to your school newspaper!</h1>
        <h2>Did you know? <b>Any student</b> can write an article on Knightwatch! <a href="https://forms.gle/7vWhLBidcXJU4Y7q6">Submit yours here!</a></h2>
        <h2>Want more information about who we are, and what we're doing? <a href="/about">Click Here!</a></h2>
        <div class="blurb">
            We have news articles, artwork, writing prompts, recipes, creative writing, club pages, and so much more! Have a look around!
        </div>
    </div>
</div>
