---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /section/{{ tag }}/
eleventyExcludeFromCollections: true
---
<!-- <h1>{{ tag | deslug | title }} Page</h1> -->

{% if tag == "club-page" %}
  <div class="full-card" style="width: 100% !important;">
    <div class="left">
      <h1 class="times">Clubs!</h1>
      <div class="blurb">Here at Nepean we have a wide variety of clubs in which students can participate. Below, you will find information about them including descriptions, meeting times, Google Classroom codes, and Instagram pages. Joining clubs is a great way to meet like minded people and make connections :)
      </div>
    </div>
  </div>  
{% endif %}

{% set taglist = collections[tag] %}
<div class="articles">
  <div class="col" data-columns>
    {% for post in taglist | shuffle %}
    <div class="card" data-aos="fade-up" onclick="location.href='{{ post.url | url }}'">
      <a class="card-title times" href="{{ post.url | url }}">{{ post.data.title }}</a>
      {% first_image post %}
        <div class="card-info">
          <div class="card-meta">
            <span class="card-author">{{ post.data.author }}</span>
          </div>
          <p class="card-blurb line-clamp">{% blurb post %}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>