---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /section/{{ tag }}/
eleventyExcludeFromCollections: true
---
<h1>{{ tag | deslug | title }} Page</h1>


{% set taglist = collections[tag] %}
{% for post in taglist | reverse %}
  <div class="box">
    {% first_image post %}<br>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a><br>
    {{ post.data.date.toUTCString().substring(0, 17) }}<br>
    Written by {{ post.data.author }}<br>
    {% blurb post %}<br>
  </div>
{% endfor %}
